
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

<title>Trang Chủ</title>
<meta name="description" content="Công ty du lich Forbestour - Đơn vị tổ chức du lịch chuyên nghiệp, luôn hướng đến những giá trị cốt lõi, sâu sắc nhất từ mỗi điểm đến...">
<meta name="og:description" content="Công ty du lich Forbestour - Đơn vị tổ chức du lịch chuyên nghiệp, luôn hướng đến những giá trị cốt lõi, sâu sắc nhất từ mỗi điểm đến...">
<meta name="keywords" content="Tour du lịch ha long, Tour du lich sapa,Tour du lich nha trang, tour du lich da lat, tour du lich phan thiet,tour du lich phu quoc,tour du lich đà nẵng,tour du lich hue, tour du lich thai lan 6 ngày 5 đêm , tour du lich singapore 4 ngày aa"><meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="utf-8" http-equiv="encoding">
<meta name="language" content="vi" />
<link rel="shortcut icon" type="image/x-icon" href="http://bepgas.animexviet.com/uploads/images/logo.png" />
<link href="/public/default/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/public/default/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="/public/default/css/component.css" />
<script src="/public/default/js/modernizr.custom.js"></script>

<link rel="stylesheet" href="/public/default/css/jquery.bxslider.css">
<link rel="stylesheet" type="text/css" href="/public/default/css/isotope.css" media="screen" />
    <!--<link rel="stylesheet" href="css/animate.css">-->
<link rel="stylesheet" href="/public/default/js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
<link href="/public/default/css/prettyPhoto.css" rel="stylesheet" />
<link href="/public/default/css/style.css" rel="stylesheet" />
<link href="https://vadikom.github.io/smartmenus/src/addons/bootstrap/jquery.smartmenus.bootstrap.css" rel="stylesheet">


</head>
<body>
<form action="http://bepgas.animexviet.com/default/sanpham/timkiem" method="post">
<div class="content_search">
        <span style="width:200px">
            <input type="text" class="form-control" placeholder="Search" name="tim">
        </span>
        <span>
            <a href="#" class="submib_search">
                <img src="/uploads/images/search_box.png" />
            </a>
        </span>
    </div>
</form>
<style>
        .content_search {
            background: rgba(255, 255, 255, 0.36) none repeat scroll 0 0;
            display: none;
            height: 53px;
            margin-top: 50px;
            overflow: hidden;
            padding: 10px;
            position: absolute;
            right: 0;
            width: 257px;
            z-index: 9999;
            margin-right: 160px;
            border-radius: 5px;
        }
            .content_search > span {
                display: block;
                float: left;
                padding: 0 2px;
            }
    </style>




   <style>
<div id="fb-root"></div>
   <style>
        /* Main carousel style */

        /* Indicators list style */
        .article-slide .carousel-indicators {
            bottom: 0;
            left: 0;
            margin-left: 5px;
            margin-top: 36px;
            position: absolute;
            top: 220px;
            width: 100%;
        }
            /* Indicators list style */
            .article-slide .carousel-indicators li {
                border: medium none;
                border-radius: 0;
                float: left;
                height: 54px;
                margin-bottom: 5px;
                margin-left: 0;
                margin-right: 5px !important;
                margin-top: 0;
                width: 100px;
            }
            /* Indicators images style */
            .article-slide .carousel-indicators img {
                border: 2px solid #FFFFFF;
                float: left;
                height: 54px;
                left: 0;
                margin-bottom:30px;
                width: 100px;
            }
            /* Indicators active image style */
            .article-slide .carousel-indicators .active img {
                border: 2px solid #428BCA;
                opacity: 0.7;
            }
               .paging {
  text-align: center;
  margin: 0px 0px 10px 0px;
  font: 12px 'Tahoma';
  margin-top: 30px;
  padding-bottom: 50px;
  border-bottom: 1px solid #e2e2e2;
}
.paging a:hover{
    color: white;
    font: 12px 'Tahoma';
    text-shadow:0px 1px #388DBE;
    border-color:#3390CA;
    background:#58B0E7;
    background:-moz-linear-gradient(top, #B4F6FF 1px, #63D0FE 1px, #58B0E7);
    background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #B4F6FF), color-stop(0.02, #63D0FE), color-stop(1, #58B0E7));
    border-radius: 3px 3px 3px 3px;
    padding: 5px 10px;
}
.paging a {
    font: 12px 'Tahoma';
    color: #0A7EC5;
    border: solid 1px;
    border-color: #8DC5E6;
    background: #F8FCFF;
    border-radius: 3px 3px 3px 3px;
    padding: 5px 10px;
    margin: 0px 5px;
}
.paging strong {
    color: white;
    font: 12px 'Tahoma';
    text-shadow:0px 1px #388DBE;
    border-color:#3390CA;
    background:#58B0E7;
    background:-moz-linear-gradient(top, #B4F6FF 1px, #63D0FE 1px, #58B0E7);
    background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #B4F6FF), color-stop(0.02, #63D0FE), color-stop(1, #58B0E7));
    border-radius: 3px 3px 3px 3px;
    padding: 6px 12px;
}
    </style>

<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/vi_VN/all.js#xfbml=1&appId=297645530337906";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<header>
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="navigation navbar navbar-default navbar-fixed-top" role="navigation"">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse.collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-brand">
                            <a href="/" title="logo">      
                                <img src="/uploads/images/logo.png" class="logo" alt="logo" title="logo" />
                            </a>
                        </div>
                    </div>
                      <div class="navbar-collapse collapse">
                        <div class="menu">
                            <ul class="nav nav-tabs" role="tablist">
                            
                                <li role="presentation"><a href="/" class="active">TRANG CHỦ</a></li>
                                <li role="presentation"><a href="/about.html" class="">GIỚI THIỆU</a></li>
                                <li role="presentation"><a href="/product.html" class="">Sản Phẩm</a></li>
                                <li role="presentation"><a href="/system.html" class="">HỆ THỐNG PHÂN PHỐI</a></li>
                                <li role="presentation"><a href="/warranty.html" class="">BẢO HÀNH</a></li>
                                <li role="presentation"><a href="/news.html" class="">TIN TỨC</a></li>
                                <li role="presentation"><a href="/support.html" class="">HỔ TRỢ</a></li>
                                <li role="presentation"><a href="/video.html" class="">VIDEO</a></li>
                                <li role="presentation"><a href="/sitemap.html class="">SiteMap</a></li>
                                <li role="presentation"><a href="/contact.html" class="">LIÊN HỆ</a></li>
                

                                  <li role="presentation">
                                    <div class="search_index">
                                        <img src="/public/default/css/img/icon-search-index.png" />
                                    </div>
                                    <div class="dropdown dropdown_lag">
                                         <a href="http://bepgas.animexviet.com/default/index/language/en">
                                            <img src="/public/default/css/img/en_lan.png" />
                                         </a>
                                                                            </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </nav>

   

</header>
     <div class="slider">
        <div class="img-responsive">
            <ul class="bxslider">
                            <li><a href=""  target="_blank"><img src="http://bepgas.animexviet.com/uploads/images/232.jpg" alt="slide 2" /></a></li>
                                <li><a href="Bep gas 1"  target="_blank"><img src="http://bepgas.animexviet.com/uploads/images/1s.png" alt="Bep gas 1" /></a></li>
                            </ul>
        </div>
    </div>     <!-- <div class="slider">
        <div class="img-responsive">
            <ul class="bxslider">
                <li><img src="images/slider/1s.png" alt="" /></li>
                <li><img src="images/slider/2s.png" alt="" /></li>
                <li><img src="images/slider/3s.png" alt="" /></li>
            </ul>
        </div>
    </div> -->

﻿<style type="text/css" media="screen">
.img-s {
    width:530px;
    height:338px;
}
.img-t{
    width:160px;
    height:150px;
}
.img-1{
    width:340px;
    height:139px;
}
</style>
               
<div class="container gt_content_in">
        <div class="col-md-6 ">
                                <a href="http://bepgas.animexviet.com/gioi-thieu/2-gioi-thieu">
            <img src="http://bepgas.animexviet.com/uploads/images/hinh-thiet-bi1.png" class="img-responsive" />
            </a>
        </div>
        <div class="col-md-6 ">
            
             <a href="http://bepgas.animexviet.com/gioi-thieu/2-gioi-thieu">
            <h3 style="text-transform: uppercase; color:red;">Giới thiệu</h3></a>
            <p style="text-align:justify"><strong>LỊCH SỬ C&Ocirc;NG TY MEKONG</strong></p>

<ul>
	<li style="text-align:justify">&nbsp;Th&agrave;nh lập ng&agrave;y: 2-6-1992</li>
	<li style="text-align:justify">&nbsp;T&ocirc;n chỉ hoạt động: Lắng nghe - Tận t&acirc;m - Ph&aacute;t triển</li>
	<li style="text-align:justify">&nbsp;Nh&acirc;n vi&ecirc;n: 300 người</li>
</ul>

<p style="text-align:justify"><strong>NG&Agrave;NH NGHỀ KINH DOANH</strong></p>

<ul>
	<li style="text-align:justify">&nbsp;Nhập khẩu, sản xuất v&agrave; ph&acirc;n phối c&aacute;c sản phẩm bếp &amp; thiết bị nh&agrave; bếp</li>
	<li style="text-align:justify">&nbsp;Bếp &acirc;m tử kệ, m&aacute;y h&uacute;t kh&oacute;i, m&aacute;y sấy ch&eacute;n, m&aacute;y nước n&oacute;ng, nồi cơm điện, nồi cơm gas - điện, bếp gas b&agrave;n, nồi &aacute;p suất &amp; c&aacute;c sản phẩm...        </div>
    </div>

    <div class="main-feature">
        <div class="bk_danhmuc text-center">
            <h2 class="white">
               DANH MỤC            </h2>
        </div>
        <div class="text-center ">
            <div class="container">

                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="row">
                                                    <div class="col-md-3 col-xs-6 item_dm">
                                <div>
                                    <a href="http://bepgas.animexviet.com/danh-muc/10-may-say-chen">
                                        <img src="http://bepgas.animexviet.com/uploads/images/icon-may-say-chen_big.png" />
                                    </a>
                                </div>
                                <h3>
                                    <a href="http://bepgas.animexviet.com/danh-muc/10-may-say-chen">
                                        Máy sấy chén                                    </a>
                                </h3>
                            </div>
                                                <div class="col-md-3 col-xs-6 item_dm">
                                <div>
                                    <a href="http://bepgas.animexviet.com/danh-muc/11-may-hut-khoi">
                                        <img src="http://bepgas.animexviet.com/uploads/images/icon-may-hut-khoi.png" />
                                    </a>
                                </div>
                                <h3>
                                    <a href="http://bepgas.animexviet.com/danh-muc/11-may-hut-khoi">
                                        Máy hút khói                                    </a>
                                </h3>
                            </div>
                                                <div class="col-md-3 col-xs-6 item_dm">
                                <div>
                                    <a href="http://bepgas.animexviet.com/danh-muc/12-bep-gas-am">
                                        <img src="http://bepgas.animexviet.com/uploads/images/icon-bep-ga-am-kieng.png" />
                                    </a>
                                </div>
                                <h3>
                                    <a href="http://bepgas.animexviet.com/danh-muc/12-bep-gas-am">
                                        Bếp gas âm                                    </a>
                                </h3>
                            </div>
                                                <div class="col-md-3 col-xs-6 item_dm">
                                <div>
                                    <a href="http://bepgas.animexviet.com/danh-muc/13-may-nuoc-nong">
                                        <img src="http://bepgas.animexviet.com/uploads/images/icon-may-nuoc-nong.png" />
                                    </a>
                                </div>
                                <h3>
                                    <a href="http://bepgas.animexviet.com/danh-muc/13-may-nuoc-nong">
                                        Máy nước nóng                                    </a>
                                </h3>
                            </div>
                    

                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="row">
                                                                            <div class="col-md-3 col-xs-6 item_dm">
                                <div>
                                    <a href="http://bepgas.animexviet.com/danh-muc/14-bep-gas">
                                        <img src="http://bepgas.animexviet.com/uploads/images/icon-bep-ga_big1.png" />
                                    </a>
                                </div>
                                <h3>
                                    <a href="http://bepgas.animexviet.com/danh-muc/14-bep-gas">
                                        Bếp gas                                    </a>
                                </h3>
                            </div>
                                                <div class="col-md-3 col-xs-6 item_dm">
                                <div>
                                    <a href="http://bepgas.animexviet.com/danh-muc/15-hang-horeca">
                                        <img src="http://bepgas.animexviet.com/uploads/images/icon-koreca.png" />
                                    </a>
                                </div>
                                <h3>
                                    <a href="http://bepgas.animexviet.com/danh-muc/15-hang-horeca">
                                        Hàng HORECA                                    </a>
                                </h3>
                            </div>
                                                <div class="col-md-3 col-xs-6 item_dm">
                                <div>
                                    <a href="http://bepgas.animexviet.com/danh-muc/16-hang-gia-dung">
                                        <img src="http://bepgas.animexviet.com/uploads/images/icon-hang-gia-dung.png" />
                                    </a>
                                </div>
                                <h3>
                                    <a href="http://bepgas.animexviet.com/danh-muc/16-hang-gia-dung">
                                        Hàng gia dụng                                    </a>
                                </h3>
                            </div>
                                                <div class="col-md-3 col-xs-6 item_dm">
                                <div>
                                    <a href="http://bepgas.animexviet.com/danh-muc/17-thiet-bi-loc-nuoc">
                                        <img src="http://bepgas.animexviet.com/uploads/images/icon-thiet-bi-loc-nuoc.png" />
                                    </a>
                                </div>
                                <h3>
                                    <a href="http://bepgas.animexviet.com/danh-muc/17-thiet-bi-loc-nuoc">
                                        Thiết bị lọc nước                                    </a>
                                </h3>
                            </div>
                                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-feature   bk_white ">
        <div class="bk_danhmuc1 text-center">
            <h3 class="white">
HỆ THỐNG PHÂN PHỐI            </h3>
            <p class="white">
               Hệ thống phân phối của Mekong rộng khắp toàn quốc            </p>
        </div>
    </div>
    <div class="hethongPhanPhoi_content bk_white">
        <div class="container">
            <div class="col-md-5   ">
                <a href='http://bepgas.animexviet.com/he-thong-phan-phoi'><img class="pull-right img-responsive" style="padding-bottom:5px" src="http://bepgas.animexviet.com/uploads/images/ban-do.jpg" title="bản đồ" /></a>

                <br class="hidden-lg  " />
            </div>
           <form class="form-horizontal" role="form" method="post" action="http://bepgas.animexviet.com/default/phanphoi/timkiem"  enctype="multipart/form-data">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-4 padding2">

                    <select class="form-control" name="loai" id="loai">
                                            <option value="8">Đại lý & TT Điện máy</option>
                                                <option value="7">Chi nhánh - Showroom</option>
                                            </select>
                    </div>

                    <div class="col-md-3 padding2 ">
                       <select class="form-control" name="cate" id="cate">
                    <option value="0">Chọn tỉnh/Thành phố...</option>
                                             <option value="1">TP. Hà Nội</option>
                                                            <option value="2">TP. Hồ Chí Minh</option>
                                                            <option value="3">Đà Nẵng</option>
                                                            <option value="4">Hải Phòng</option>
                                                            <option value="5">Cần Thơ</option>
                                                            <option value="6">An Giang</option>
                                                            <option value="7">Bà Rịa-Vũng Tàu </option>
                                                            <option value="8">Bắc Giang</option>
                                                            <option value="9">Bắc Kạn</option>
                                                            <option value="10">Bạc Liêu</option>
                                                            <option value="11">Bắc Ninh</option>
                                                            <option value="12">Bến Tre</option>
                                                            <option value="13">Bình Định</option>
                                                            <option value="14">Bình Dương</option>
                                                            <option value="15">Bình Phước</option>
                                                            <option value="16">Bình Thuận</option>
                                                            <option value="17">Cà Mau</option>
                                                            <option value="18">Cao Bằng</option>
                                                            <option value="19">Đắk Lắk</option>
                                                            <option value="20">Đắk Nông</option>
                                                            <option value="21">Điện Biên</option>
                                                            <option value="22">Đồng Nai</option>
                                                            <option value="23">Đồng Tháp</option>
                                                            <option value="24">Gia Lai </option>
                                                            <option value="27">Hà Giang</option>
                                                            <option value="28">Hà Nam</option>
                                                            <option value="29">Hà Tĩnh</option>
                                                            <option value="30">Hải Dương</option>
                                                            <option value="31">Hậu Giang</option>
                                                            <option value="32">Hòa Bình</option>
                                                            <option value="33">Hưng Yên</option>
                                                            <option value="34">Khánh Hòa</option>
                                                            <option value="35">Kiên Giang</option>
                                                            <option value="36">Kon Tum</option>
                                                            <option value="37">Lai Châu</option>
                                                            <option value="38">Lâm Đồng</option>
                                                            <option value="39">Lạng Sơn</option>
                                                            <option value="40">Lào Cai</option>
                                                            <option value="41">Long An</option>
                                                            <option value="42">Nam Định</option>
                                                            <option value="43">Nghệ An</option>
                                                            <option value="44">Ninh Bình</option>
                                                            <option value="45">Ninh Thuận</option>
                                                            <option value="46">Phú Thọ</option>
                                                            <option value="47">Phú Yên</option>
                                                            <option value="48">Quảng Bình</option>
                                                            <option value="49">Quảng Nam</option>
                                                            <option value="50">Quảng Ngãi </option>
                                                            <option value="51">Quảng Ninh</option>
                                                            <option value="52">Quảng Trị </option>
                                                            <option value="53">Sóc Trăng </option>
                                                            <option value="54">Sơn La</option>
                                                            <option value="55">Tây Ninh </option>
                                                            <option value="56">Thái Bình</option>
                                                            <option value="57">Thái Nguyên</option>
                                                            <option value="58">Thanh Hóa</option>
                                                            <option value="59">Thừa Thiên Huế</option>
                                                            <option value="60">Tiền Giang</option>
                                                            <option value="61">Trà Vinh</option>
                                                            <option value="62">Tuyên Quang</option>
                                                            <option value="63">Vĩnh Long</option>
                                                            <option value="64">Vĩnh Phúc</option>
                                                            <option value="65">Yên Bái</option>
                                    
                    </select>
                    </div>

                    <div class="col-md-3 padding2">
                        <select class="form-control" name="cate1" id="cate1">
                        <option value="0">Chọn quận/huyện...</option>
                    </select>

                    </div>

                    <div class="col-md-2 padding2">
                    <button type="submit" class="btn btcn" name="ok" value="Submit">Tìm</button>

                    </div>





                </div>

                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
                <script type="text/javascript">
                $("document").ready(function(){
                $("#cate").change(function(){
                var id = $(this).val();
                if(id){
                        $.ajax({
                        type : "POST",
                        url : "http://bepgas.animexviet.com/default/phanphoi/producttype",
                        data : "id="+id,
                        success : function(kq){
                        $("#cate1").html(kq);
                        }
                });
                }else
                {
                   $('#cate1').html('<option value="">==Chọn quận huyện == </option>');
                }
                });

                });
            </script>
            </form>
                                <div class="col-md-6">
                    <ul class="listPhanPhoi">
                        <li><a href="http://bepgas.animexviet.com/phan-phoi/2-ha-noi:-showroom-me-linh">Hà Nội: Showroom Mê Linh</a></li>
                    </ul>
                </div>
                            <div class="col-md-6">
                    <ul class="listPhanPhoi">
                        <li><a href="http://bepgas.animexviet.com/phan-phoi/3-tphcm:-tru-so-chinh---showroom">TpHCM: Trụ sở chính - Showroom</a></li>
                    </ul>
                </div>
                            <div class="col-md-6">
                    <ul class="listPhanPhoi">
                        <li><a href="http://bepgas.animexviet.com/phan-phoi/5-da-nang:-showroom-thanh-khe">Đà Nẵng: Showroom Thanh Khê</a></li>
                    </ul>
                </div>
                            <div class="col-md-6">
                    <ul class="listPhanPhoi">
                        <li><a href="http://bepgas.animexviet.com/phan-phoi/6-can-tho:-dai-ly-vinh-thanh">Cần Thơ: Đại lý Vĩnh Thạnh</a></li>
                    </ul>
                </div>
            
            </div>
        </div>
    </div>

    <div class="main-feature  bk_tintuc_index">
    </div>

    <div class="tintuc_listHome">
        <div class="container">
            <div class="col-md-4">
                <h3>BẢO HÀNH</h3>
                <hr class="hr_title" />
                                <div>
                    <a href="http://bepgas.animexviet.com/bao-hanh/4-thoi-gian-lam-viec">
                        <img src="http://bepgas.animexviet.com/uploads/images/baohanh_item6.jpg" alt="Thời gian làm việc" class="img-responsive img-1" />
                    </a>
                </div>
                <div>
                    <a href="http://bepgas.animexviet.com/bao-hanh/4-thoi-gian-lam-viec">
                        <p>
                                              Thứ Hai-Thứ Sáu: 8:00: 16:45 và Thứ Bảy: 8:00 - 11:45 (trừ các ngày nghỉ và ngày lễ)                                                                                                       </p>
                    </a>
                </div>
            
                            <hr class="hr_title_fotter" />

                <div>
                    <ul class="listNews">
                                            <li>
                            <a href="http://bepgas.animexviet.com/bao-hanh/5-chinh-sach-bao-hanh-san-pham-cua-mekogas">
                                Chính sách bảo hành sản phẩm của Mekogas                            </a>
                        </li>
                                        </ul>
                </div>
                    </div>

            <div class="col-md-4">
                <h3>TIN TỨC</h3>
                <hr class="hr_title" />
                <div>
                                              <div class="col-sm-6 padding0">
                    <a href="http://bepgas.animexviet.com/tin-tuc/10-ngai-no-gas--vo-sep-chuong-bep-dien-tu-hong-ngoai">
                        <img src="http://bepgas.animexviet.com/uploads/images/baohanh_item10.jpg" alt="Ngại nổ gas, vợ sếp chuộng bếp điện từ hồng ngoại" class="img-responsive img-t" />
                    </a>
                </div>
                <div class="col-sm-6 padding0">
                    <a href="http://bepgas.animexviet.com/tin-tuc/10-ngai-no-gas--vo-sep-chuong-bep-dien-tu-hong-ngoai">
                        <h4>

                              Ngại nổ gas, vợ sếp chuộng bếp điện từ hồng ngoại                            </h4>
                        <p>
                            Tiết kiệm điện, không tốn chi phí gas, an toàn trong sử dụng lại nấu thức...                        </p>
                    </a>
                </div>
                                <div>
                                                   <ul class="listNews">
                                                     <li>
                                <a href="http://bepgas.animexviet.com/tin-tuc/9-su-len-ngoi-cua-bep-tu-trong-can-bep-viet">
                                   Sự lên ngôi của bếp từ trong căn bếp Việt                                </a>
                            </li>
                                                <li>
                                <a href="http://bepgas.animexviet.com/tin-tuc/3-no-gas-thuong-xay-ra-khi-nao">
                                   Nổ gas thường xảy ra khi nào                                </a>
                            </li>
                                                <li>
                                <a href="http://bepgas.animexviet.com/tin-tuc/2-top-4-san-pham-chinh-phuc-can-bep-nho-cua-me">
                                   Top 4 sản phầm chinh phục căn bếp nhỏ của mẹ                                </a>
                            </li>
                                            </ul>
                                            </div>
                </div>
            </div>

            <div class="col-md-4 ">
                <h3>VIDEO</h3>
                <hr class="hr_title" />
                <div>

                                                <iframe width="100%" height="250" src="https://www.youtube.com/embed/m22_1B8YaNc" frameborder="0" allowfullscreen></iframe>
                                </div>

                <div>
                                     <ul class="listNews">
                                              <li>
                            <a href="http://bepgas.animexviet.com/video/4-bep-gas-duong-kinh-kiwa-kw-692g">
                                Bếp gas dương kính Kiwa KW-692G                            </a>
                        </li>
                                        <li>
                            <a href="http://bepgas.animexviet.com/video/5-chon-mua-va-su-dung-bep-gas-dung-cach">
                                Chọn mua và sử dụng bếp gas đúng cách                            </a>
                        </li>
                                    </ul>
                            </div>
            </div>
        </div>
    </div>   <div class="main-feature  bk_footer1">
    </div>

    <footer>
              <div class="footer">
            <div class="container">
                            <div class="col-md-4 ">
                    <p>
                        <span><b>TP.HCM: CÔNG TY TNHH TM MEKONG</b></span>

                    <p>
                    <p>Trụ sở ch&iacute;nh - Showroom - Trung T&acirc;m Bảo H&agrave;nh</p>

<p>781/C9 L&ecirc; Hồng Phong (nd), Q.10, TPHCM<br />
Tel: (84-8) 3862 0012 - 093 784 5566<br />
Showroom: (84-8) 6678 5391<br />
Fax: (84-8) 3862 0013<br />
Email:<span style="color:#EE82EE">&nbsp;</span><span style="color:#0000FF">mekongsg@mekogas.com.vn</span><br />
Bảo h&agrave;nh: 0918 323 535 (Anh Vũ)</p>

<p>&nbsp;</p>
                </div>
                                <div class="col-md-4 ">
                    <p>
                        <span><b>HÀ NỘI: CHI NHÁNH - SHOWROOM - TRUNG TÂM BẢO HÀNH</b></span>

                    <p>
                    <p>Nh&agrave; số 7, L&ocirc; 3B, Đường 11, Khu đ&ocirc; thị mới Trung Y&ecirc;n, Phường Trung H&ograve;a, Quận Cầu Giấy<br />
Tel : (84-4) 3200 9369&nbsp;<br />
Fax: (84-4) 3200 9169<br />
Email:&nbsp;<span style="color:#DDA0DD">mekonghn@mekogas.com.vn</span></p>
                </div>
                                <div class="col-md-4 ">
                    <p>
                        <span><b>CẦN THƠ: SHOWROOM - TRUNG TÂM BẢO HÀNH</b></span>

                    <p>
                    <p>Địa chỉ: 157 L&yacute; Tự Trọng, P. An Ph&uacute;, Q. Ninh Kiều<br />
Tel: (84-710) 3764 441 - 098 388 0086<br />
Fax: (84-710) 3764 441<br />
Bảo h&agrave;nh: 0939 167 590 (Anh Phương)</p>
                </div>
                                <div class="col-md-4 ">
                    <p>
                        <span><b>ĐÀ NẴNG: SHOWROOM - TRUNG TÂM BẢO HÀNH</b></span>

                    <p>
                    <p>Địa chỉ: 281 Hải Ph&ograve;ng, P.T&acirc;n Ch&iacute;nh, Q. Thanh Kh&ecirc;<br />
Tel : (84-511) 628 2423<br />
Bảo h&agrave;nh: 01225 456 936 (Ch&uacute; Dũng)</p>
                </div>
                            </div>
        </div>
        <div class="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6" style="font-size: 12px;">
                        &copy; 2016 <a title="Mekong Group" href="#" target="_blank">Mekong Group</a>. All Rights Reserved.
                                             <span style="margin-left: 40px; padding-right: 5px; border-right: 1px solid rgb(173, 173, 173);">
                          Đang online:1</span>

              <span style="padding-left: 7px;">Tổng truy cập: 633</span></div>
                    
                        <div class="col-md-6">

                        <ul class="pull-right">
                                                    <li><a href="http://demo2.emsvn.net/mekogas/" target="_blank"><img src='http://bepgas.animexviet.com/uploads/images/index.php?w=29&h=29&img=icon-fb.png' title='Icon facebook'/></a></li>
                            
                                                        <li><a href="" target="_blank"><img src='http://bepgas.animexviet.com/uploads/images/index.php?w=29&h=29&img=icon-rss.png' title='twite'/></a></li>
                            
                                                        <li><a href="" target="_blank"><img src='http://bepgas.animexviet.com/uploads/images/index.php?w=29&h=29&img=icon-like.png' title='twite'/></a></li>
                            
                                                        <li><a href="" target="_blank"><img src='http://bepgas.animexviet.com/uploads/images/index.php?w=29&h=29&img=icon-g.png' title='twite'/></a></li>
                            
                                                        <li><a href="" target="_blank"><img src='http://bepgas.animexviet.com/uploads/images/index.php?w=29&h=29&img=icon-pinterest.png' title='twite'/></a></li>
                            
                            
                      
                        </ul>
                        </div>
                    </div>
                <div class="pull-right">
                    <a href="#home" class="scrollup" style="display: block;">
                        <img src="/public/default/css/img/top.png" />
                    </a>
                </div>
            </div>
        </div>
    </footer>  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/public/default/js/jquery-2.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/public/default/js/bootstrap.min.js"></script>
    <!--<script src="js/wow.min.js"></script>-->
    <script src="/public/default/js/fancybox/jquery.fancybox.pack.js"></script>
    <script src="/public/default/js/jquery.easing.1.3.js"></script>
    <script src="/public/default/js/jquery.bxslider.min.js"></script>
    <script src="/public/default/js/jquery.prettyPhoto.js"></script>
    <script src="/public/default/js/jquery.isotope.min.js"></script>
    <script src="/public/default/js/functions.js"></script>
    <script src="/public/admincp/js/slimScroll/jquery.slimscroll.min.js"></script>
    <script>

        $(document).on('show', '.accordion', function (e) {
            //$('.accordion-heading i').toggleClass(' ');
            $(e.target).prev('.accordion-heading').addClass('accordion-opened');
        });

        $(document).on('hide', '.accordion', function (e) {
            $(this).find('.accordion-heading').not($(e.target)).removeClass('accordion-opened');
            //$('.accordion-heading i').toggleClass('fa-chevron-right fa-chevron-down');
        });
         // Stop carousel
        $('.carousel').carousel({
            interval: false
        });
            $('#thumbcarousel').carousel(0);
            var $thumbItems = $('#thumbcarousel .item');
            $('#carousel').on('slide.bs.carousel', function (event) {
                var $slide = $(event.relatedTarget);
                var thumbIndex = $slide.data('thumb');
                var curThumbIndex = $thumbItems.index($thumbItems.filter('.active').get(0));
                if (curThumbIndex > thumbIndex) {
                    $('#thumbcarousel').one('slid.bs.carousel', function (event) {
                        $('#thumbcarousel').carousel(thumbIndex);
                    });
                    if (curThumbIndex === ($thumbItems.length - 1)) {
                        $('#thumbcarousel').carousel('next');
                    } else {
                        $('#thumbcarousel').carousel(numThumbItems - 1);
                    }
                } else {
                    $('#thumbcarousel').carousel(thumbIndex);
                }
            });
        })(jQuery);
    </script>
     <script type="text/javascript">
    $(".accordion-group .active").parent().addClass("active-select");

    </script>
    <script type="text/javascript">
  
  jQuery(document).ready(function($) {
     $('div.abc').slimScroll({
        height: '100px',
        width : '350px',
    position: 'left',
    color: '#ffcc00',
    alwaysVisible: true,
    distance: '20px',
    railVisible: true,
    railColor: '#222',
    railOpacity: 0.3,
    wheelStep: 10,
    allowPageScroll: false,
    disableFadeOut: false
    });
  
});
</script>
<script src="/public/default/js/ProductSider/js/zoomsl-3.0.min.js"></script>
    <script src="/public/default/js/ProductSider/js/jquery.fancybox.pack.js"></script>
    <script defer src="/public/default/js/ProductSider/js/flexslider.min.js"></script>
    <script src="/public/default/js/ProductSider/js/zoomsl-3.0.min.js"></script>
    <script src="/public/default/js/ProductSider/js/main-script.js"></script>
<script src="/public/default/js/classie.js"></script>
		<script src="/public/default/js/uisearch.js"></script>
		<script>
			new UISearch( document.getElementById( 'sb-search' ) );
		</script>
		<script>

        $(".search_index").click(function () {
            $('.content_search').toggle('show');
        });
    </script>
</html>