
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

<title>Trang Phân Phối Sản Phẩm</title>
<meta name="description" content="Công ty du lich Forbestour - Đơn vị tổ chức du lịch chuyên nghiệp, luôn hướng đến những giá trị cốt lõi, sâu sắc nhất từ mỗi điểm đến...">
<meta name="og:description" content="Công ty du lich Forbestour - Đơn vị tổ chức du lịch chuyên nghiệp, luôn hướng đến những giá trị cốt lõi, sâu sắc nhất từ mỗi điểm đến...">
<meta name="keywords" content="Tour du lịch ha long, Tour du lich sapa,Tour du lich nha trang, tour du lich da lat, tour du lich phan thiet,tour du lich phu quoc,tour du lich đà nẵng,tour du lich hue, tour du lich thai lan 6 ngày 5 đêm , tour du lich singapore 4 ngày aa"><meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="utf-8" http-equiv="encoding">
<meta name="language" content="vi" />
<link rel="shortcut icon" type="image/x-icon" href="http://bepgas.animexviet.com/uploads/images/logo.png" />
<link href="http://bepgas.animexviet.com/public/default/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="http://bepgas.animexviet.com/public/default/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="public/default/css/component.css" />
<script src="http://animexviet.com/bepgas/public/default/js/modernizr.custom.js"></script>

<link rel="stylesheet" href="http://bepgas.animexviet.com/public/default/css/jquery.bxslider.css">
<link rel="stylesheet" type="text/css" href="http://bepgas.animexviet.com/public/default/css/isotope.css" media="screen" />
    <!--<link rel="stylesheet" href="css/animate.css">-->
<link rel="stylesheet" href="http://bepgas.animexviet.com/public/default/js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
<link href="http://bepgas.animexviet.com/public/default/css/prettyPhoto.css" rel="stylesheet" />
<link href="http://bepgas.animexviet.com/public/default/css/style.css" rel="stylesheet" />
<link href="https://vadikom.github.io/smartmenus/src/addons/bootstrap/jquery.smartmenus.bootstrap.css" rel="stylesheet">


</head>
<body>
<form action="http://bepgas.animexviet.com/default/sanpham/timkiem" method="post">
<div class="content_search">
        <span style="width:200px">
            <input type="text" class="form-control" placeholder="Search" name="tim">
        </span>
        <span>
            <a href="#" class="submib_search">
                <img src="http://bepgas.animexviet.com/uploads/images/search_box.png" />
            </a>
        </span>
    </div>
</form>
<style>
        .content_search {
            background: rgba(255, 255, 255, 0.36) none repeat scroll 0 0;
            display: none;
            height: 53px;
            margin-top: 50px;
            overflow: hidden;
            padding: 10px;
            position: absolute;
            right: 0;
            width: 257px;
            z-index: 9999;
            margin-right: 160px;
            border-radius: 5px;
        }
            .content_search > span {
                display: block;
                float: left;
                padding: 0 2px;
            }
    </style>




   <style>
<div id="fb-root"></div>
   <style>
        /* Main carousel style */

        /* Indicators list style */
        .article-slide .carousel-indicators {
            bottom: 0;
            left: 0;
            margin-left: 5px;
            margin-top: 36px;
            position: absolute;
            top: 220px;
            width: 100%;
        }
            /* Indicators list style */
            .article-slide .carousel-indicators li {
                border: medium none;
                border-radius: 0;
                float: left;
                height: 54px;
                margin-bottom: 5px;
                margin-left: 0;
                margin-right: 5px !important;
                margin-top: 0;
                width: 100px;
            }
            /* Indicators images style */
            .article-slide .carousel-indicators img {
                border: 2px solid #FFFFFF;
                float: left;
                height: 54px;
                left: 0;
                margin-bottom:30px;
                width: 100px;
            }
            /* Indicators active image style */
            .article-slide .carousel-indicators .active img {
                border: 2px solid #428BCA;
                opacity: 0.7;
            }
               .paging {
  text-align: center;
  margin: 0px 0px 10px 0px;
  font: 12px 'Tahoma';
  margin-top: 30px;
  padding-bottom: 50px;
  border-bottom: 1px solid #e2e2e2;
}
.paging a:hover{
    color: white;
    font: 12px 'Tahoma';
    text-shadow:0px 1px #388DBE;
    border-color:#3390CA;
    background:#58B0E7;
    background:-moz-linear-gradient(top, #B4F6FF 1px, #63D0FE 1px, #58B0E7);
    background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #B4F6FF), color-stop(0.02, #63D0FE), color-stop(1, #58B0E7));
    border-radius: 3px 3px 3px 3px;
    padding: 5px 10px;
}
.paging a {
    font: 12px 'Tahoma';
    color: #0A7EC5;
    border: solid 1px;
    border-color: #8DC5E6;
    background: #F8FCFF;
    border-radius: 3px 3px 3px 3px;
    padding: 5px 10px;
    margin: 0px 5px;
}
.paging strong {
    color: white;
    font: 12px 'Tahoma';
    text-shadow:0px 1px #388DBE;
    border-color:#3390CA;
    background:#58B0E7;
    background:-moz-linear-gradient(top, #B4F6FF 1px, #63D0FE 1px, #58B0E7);
    background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #B4F6FF), color-stop(0.02, #63D0FE), color-stop(1, #58B0E7));
    border-radius: 3px 3px 3px 3px;
    padding: 6px 12px;
}
    </style>

<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/vi_VN/all.js#xfbml=1&appId=297645530337906";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<header>
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="navigation navbar navbar-default navbar-fixed-top" role="navigation"">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse.collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-brand">
                                                                                  <a href="http://bepgas.animexviet.com/" title="logo">
      
                                <img src="http://bepgas.animexviet.com/uploads/images/logo.png" class="logo" alt="logo" title="logo" />
                            </a>
                        </div>
                    </div>
                      <div class="navbar-collapse collapse">
                        <div class="menu">
                            <ul class="nav nav-tabs" role="tablist">
                            
                                <li role="presentation"><a href="http://bepgas.animexviet.com/" class="">TRANG CHỦ</a></li>
                                <li role="presentation"><a href="http://bepgas.animexviet.com/gioi-thieu" class="">GIỚI THIỆU</a></li>
                                <li role="presentation"><a href="http://bepgas.animexviet.com/san-pham" class="">Sản Phẩm</a></li>
                                <li role="presentation"><a href="http://bepgas.animexviet.com/he-thong-phan-phoi" class="active">HỆ THỐNG PHÂN PHỐI</a></li>
                                <li role="presentation"><a href="http://bepgas.animexviet.com/bao-hanh" class="">BẢO HÀNH</a></li>
                                <li role="presentation"><a href="http://bepgas.animexviet.com/tin-tuc" class="">TIN TỨC</a></li>
                                <li role="presentation"><a href="http://bepgas.animexviet.com/ho-tro" class="">HỔ TRỢ</a></li>
                                <li role="presentation"><a href="http://bepgas.animexviet.com/video" class="">VIDEO</a></li>
                                <li role="presentation"><a href="http://bepgas.animexviet.com/sitemap" class="">SiteMap</a></li>
                                <li role="presentation"><a href="http://bepgas.animexviet.com/lienhe" class="">LIÊN HỆ</a></li>
                

                                  <li role="presentation">
                                    <div class="search_index">
                                        <img src="http://bepgas.animexviet.com/public/default/css/img/icon-search-index.png" />
                                    </div>
                                    <div class="dropdown dropdown_lag">
                                                                               <a href="http://bepgas.animexviet.com/default/index/language/en">
                                            <img src="http://bepgas.animexviet.com/public/default/css/img/en_lan.png" />
                                         </a>
                                                                            </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </nav>

   

</header>
    <div class="slider">
        <div class="img-responsive">
                    <img src="http://bepgas.animexviet.com/uploads/images/bk_hethongphanphoi.png" alt="Hệ thống phân phối"  class="img_full"/>
            ?>
        </div>
    </div>     <!-- <div class="slider">
        <div class="img-responsive">
            <ul class="bxslider">
                <li><img src="images/slider/1s.png" alt="" /></li>
                <li><img src="images/slider/2s.png" alt="" /></li>
                <li><img src="images/slider/3s.png" alt="" /></li>
            </ul>
        </div>
    </div> -->

﻿<div class="bk_hethonghanphoi">
                       <div>
            <h3 class="white">
                HỆ THỐNG PHÂN PHỐI            </h3>
            <p class="white">
                Hệ thống phân phối của Mekong rộng khắp toàn quốc            </p>
        </div>
    </div>

    <div class="container">
      <div class="col-md-3">

            <div class="row" style="padding-bottom:10px">

                <div class="dropbtn">
                    <span class="caret-2">
                        <img src="http://bepgas.animexviet.com/uploads/images/icon-bao-hanh.png">
                    </span>
                    <span class="title">HỆ THỐNG PHÂN PHỐI</span>

                </div>
                                <div class="dropbtn menu_sub">
                    <span class="icon_menu">
                        <i class="fa fa-caret-right"></i>
                    </span>

                    <a href="http://bepgas.animexviet.com/chi-nhanh/7-chi-nhanh---showroom">Chi nhánh - Showroom</a>

                    <span class="icon_menu right">
                        <i class="fa fa-angle-right"></i>
                    </span>
                </div>
                                <div class="dropbtn menu_sub">
                    <span class="icon_menu">
                        <i class="fa fa-caret-right"></i>
                    </span>

                    <a href="http://bepgas.animexviet.com/chi-nhanh/8-dai-ly---tt-dien-may">Đại lý & TT Điện máy</a>

                    <span class="icon_menu right">
                        <i class="fa fa-angle-right"></i>
                    </span>
                </div>
                
                <div class="clear" style="clear:both"></div>

                <br />

                <div class="dropbtn">
                    <span class="caret-2">
                        <img src="http://bepgas.animexviet.com/uploads/images/icon-chon-dia-diem.png">
                    </span>
                    <span class="title">Chọn địa điểm</span>

                </div>
                 <form class="form-horizontal" role="form" method="post" action="http://bepgas.animexviet.com/default/phanphoi/timkiem1"  enctype="multipart/form-data">

                <div class="dropbtn menu_sub1">

                    <select class="thanh-pho" name="cate" id="cate">
                       <option value="">Chọn tỉnh/Thành phố...</option>
                                             <option value="1">TP. Hà Nội</option>
                                                            <option value="2">TP. Hồ Chí Minh</option>
                                                            <option value="3">Đà Nẵng</option>
                                                            <option value="4">Hải Phòng</option>
                                                            <option value="5">Cần Thơ</option>
                                                            <option value="6">An Giang</option>
                                                            <option value="7">Bà Rịa-Vũng Tàu </option>
                                                            <option value="8">Bắc Giang</option>
                                                            <option value="9">Bắc Kạn</option>
                                                            <option value="10">Bạc Liêu</option>
                                                            <option value="11">Bắc Ninh</option>
                                                            <option value="12">Bến Tre</option>
                                                            <option value="13">Bình Định</option>
                                                            <option value="14">Bình Dương</option>
                                                            <option value="15">Bình Phước</option>
                                                            <option value="16">Bình Thuận</option>
                                                            <option value="17">Cà Mau</option>
                                                            <option value="18">Cao Bằng</option>
                                                            <option value="19">Đắk Lắk</option>
                                                            <option value="20">Đắk Nông</option>
                                                            <option value="21">Điện Biên</option>
                                                            <option value="22">Đồng Nai</option>
                                                            <option value="23">Đồng Tháp</option>
                                                            <option value="24">Gia Lai </option>
                                                            <option value="27">Hà Giang</option>
                                                            <option value="28">Hà Nam</option>
                                                            <option value="29">Hà Tĩnh</option>
                                                            <option value="30">Hải Dương</option>
                                                            <option value="31">Hậu Giang</option>
                                                            <option value="32">Hòa Bình</option>
                                                            <option value="33">Hưng Yên</option>
                                                            <option value="34">Khánh Hòa</option>
                                                            <option value="35">Kiên Giang</option>
                                                            <option value="36">Kon Tum</option>
                                                            <option value="37">Lai Châu</option>
                                                            <option value="38">Lâm Đồng</option>
                                                            <option value="39">Lạng Sơn</option>
                                                            <option value="40">Lào Cai</option>
                                                            <option value="41">Long An</option>
                                                            <option value="42">Nam Định</option>
                                                            <option value="43">Nghệ An</option>
                                                            <option value="44">Ninh Bình</option>
                                                            <option value="45">Ninh Thuận</option>
                                                            <option value="46">Phú Thọ</option>
                                                            <option value="47">Phú Yên</option>
                                                            <option value="48">Quảng Bình</option>
                                                            <option value="49">Quảng Nam</option>
                                                            <option value="50">Quảng Ngãi </option>
                                                            <option value="51">Quảng Ninh</option>
                                                            <option value="52">Quảng Trị </option>
                                                            <option value="53">Sóc Trăng </option>
                                                            <option value="54">Sơn La</option>
                                                            <option value="55">Tây Ninh </option>
                                                            <option value="56">Thái Bình</option>
                                                            <option value="57">Thái Nguyên</option>
                                                            <option value="58">Thanh Hóa</option>
                                                            <option value="59">Thừa Thiên Huế</option>
                                                            <option value="60">Tiền Giang</option>
                                                            <option value="61">Trà Vinh</option>
                                                            <option value="62">Tuyên Quang</option>
                                                            <option value="63">Vĩnh Long</option>
                                                            <option value="64">Vĩnh Phúc</option>
                                                            <option value="65">Yên Bái</option>
                                                        </select>
                    <select class="thanh-pho" name="cate1" id="cate1">
                        <option value="">Chọn quận/Huyện...</option>
                    </select>

                    <br />
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
                <script type="text/javascript">
                $("document").ready(function(){
                $("#cate").change(function(){
                var id = $(this).val();
                if(id){
                        $.ajax({
                        type : "POST",
                        url : "http://bepgas.animexviet.com/default/phanphoi/producttype",
                        data : "id="+id,
                        success : function(kq){
                        $("#cate1").html(kq);
                        }
                });
                }else
                {
                   $('#cate1').html('<option value="">==Chọn quận huyện == </option>');
                }
                });

                });
            </script>

                    <div style="text-align:center">
                       <button type="submit" class="tim" name="ok" value="Submit">Tìm</button>
                    </div>
            </form>
                </div>
            </div>
        </div>
        <div class="col-md-9">

            <div class="col-md-7">
                            <div class="row list_row" style="padding-left:0px">
                    <div class="col-md-4 padding10">
                        <img style="width:300px; height:auto;" alt="Hà Nội: Showroom Mê Linh" src="http://bepgas.animexviet.com/uploads/images/logo1.png">
                    </div>

                    <div class="media-body">

                        <a class="tilte_phanphoi" title="HÀ NỘI: CHI NHÁNH - SHOWROOM - TRUNG TÂM BẢO HÀNH " href="http://bepgas.animexviet.com/phan-phoi/2-ha-noi:-showroom-me-linh">
                            Hà Nội: Showroom Mê Linh                        </a>

                        <p>Địa chỉ: Nhà số 7, Lô 3B, Đường 11, Khu đô thị mới Trung Yên, Phường Trung Hòa, Quận Cầu Giấy

Tel : (84-4) 3200 9369 Fax: (84-4) 3200 9169

Email: mekonghn@mekogas.com.vn</p>

                        <a class="tilte_phanphoi" title="  HÀ NỘI: CHI NHÁNH - SHOWROOM - TRUNG TÂM BẢO HÀNH " href="http://bepgas.animexviet.com/phan-phoi/2-ha-noi:-showroom-me-linh">
                            <a href="http://bepgas.animexviet.com/phan-phoi/2-ha-noi:-showroom-me-linh"><button type="button" class="btn btn-info xemthem">Xem tiếp</button></a>
                        </a>
                    </div>
                </div>
                            <div class="row list_row" style="padding-left:0px">
                    <div class="col-md-4 padding10">
                        <img style="width:300px; height:auto;" alt="TpHCM: Trụ sở chính - Showroom" src="http://bepgas.animexviet.com/uploads/images/logo2.png">
                    </div>

                    <div class="media-body">

                        <a class="tilte_phanphoi" title="HÀ NỘI: CHI NHÁNH - SHOWROOM - TRUNG TÂM BẢO HÀNH " href="http://bepgas.animexviet.com/phan-phoi/3-tphcm:-tru-so-chinh---showroom">
                            TpHCM: Trụ sở chính - Showroom                        </a>

                        <p>Địa chỉ: 781/C9 Lê Hồng Phong (nd), Q.10, TPHCM

Điện thoại: (84-8) 3862 0012 - 093 784 5566

Showroom: (84-8) 6678 5391

Bảo hành: 0918 323 535 (Anh Vũ)</p>

                        <a class="tilte_phanphoi" title="  HÀ NỘI: CHI NHÁNH - SHOWROOM - TRUNG TÂM BẢO HÀNH " href="http://bepgas.animexviet.com/phan-phoi/3-tphcm:-tru-so-chinh---showroom">
                            <a href="http://bepgas.animexviet.com/phan-phoi/3-tphcm:-tru-so-chinh---showroom"><button type="button" class="btn btn-info xemthem">Xem tiếp</button></a>
                        </a>
                    </div>
                </div>
                            <div class="row list_row" style="padding-left:0px">
                    <div class="col-md-4 padding10">
                        <img style="width:300px; height:auto;" alt="Đà Nẵng: Showroom Thanh Khê" src="http://bepgas.animexviet.com/uploads/images/pp1_(3).jpg">
                    </div>

                    <div class="media-body">

                        <a class="tilte_phanphoi" title="HÀ NỘI: CHI NHÁNH - SHOWROOM - TRUNG TÂM BẢO HÀNH " href="http://bepgas.animexviet.com/phan-phoi/5-da-nang:-showroom-thanh-khe">
                            Đà Nẵng: Showroom Thanh Khê                        </a>

                        <p>Địa chỉ: 281 Hải Phòng, P.Tân Chính, Q. Thanh Khê

Tel : (84-511) 628 2423

Bảo hành: 01225 456 936 (Chú Dũng)</p>

                        <a class="tilte_phanphoi" title="  HÀ NỘI: CHI NHÁNH - SHOWROOM - TRUNG TÂM BẢO HÀNH " href="http://bepgas.animexviet.com/phan-phoi/5-da-nang:-showroom-thanh-khe">
                            <a href="http://bepgas.animexviet.com/phan-phoi/5-da-nang:-showroom-thanh-khe"><button type="button" class="btn btn-info xemthem">Xem tiếp</button></a>
                        </a>
                    </div>
                </div>
                            <div class="row list_row" style="padding-left:0px">
                    <div class="col-md-4 padding10">
                        <img style="width:300px; height:auto;" alt="Cần Thơ: Đại lý Vĩnh Thạnh" src="http://bepgas.animexviet.com/uploads/images/pp1_(2).jpg">
                    </div>

                    <div class="media-body">

                        <a class="tilte_phanphoi" title="HÀ NỘI: CHI NHÁNH - SHOWROOM - TRUNG TÂM BẢO HÀNH " href="http://bepgas.animexviet.com/phan-phoi/6-can-tho:-dai-ly-vinh-thanh">
                            Cần Thơ: Đại lý Vĩnh Thạnh                        </a>

                        <p>Địa chỉ: 157 Lý Tự Trọng, P. An Phú, Q. Ninh Kiều

Tel: (84-710) 3764 441 - 098 388 0086

Fax: (84-710) 3764 441

Bảo hành: 0939 167 590 (Anh Phương)</p>

                        <a class="tilte_phanphoi" title="  HÀ NỘI: CHI NHÁNH - SHOWROOM - TRUNG TÂM BẢO HÀNH " href="http://bepgas.animexviet.com/phan-phoi/6-can-tho:-dai-ly-vinh-thanh">
                            <a href="http://bepgas.animexviet.com/phan-phoi/6-can-tho:-dai-ly-vinh-thanh"><button type="button" class="btn btn-info xemthem">Xem tiếp</button></a>
                        </a>
                    </div>
                </div>
                             <div class="paging" align="center">
                        </div>
            </div>
            <div class="col-md-5">

                <img src="http://bepgas.animexviet.com/uploads/images/maps_phanphoi.jpg" />
            </div>
        </div>
    </div>   <div class="main-feature  bk_footer1">
    </div>

    <footer>
              <div class="footer">
            <div class="container">
                            <div class="col-md-4 ">
                    <p>
                        <span><b>TP.HCM: CÔNG TY TNHH TM MEKONG</b></span>

                    <p>
                    <p>Trụ sở ch&iacute;nh - Showroom - Trung T&acirc;m Bảo H&agrave;nh</p>

<p>781/C9 L&ecirc; Hồng Phong (nd), Q.10, TPHCM<br />
Tel: (84-8) 3862 0012 - 093 784 5566<br />
Showroom: (84-8) 6678 5391<br />
Fax: (84-8) 3862 0013<br />
Email:<span style="color:#EE82EE">&nbsp;</span><span style="color:#0000FF">mekongsg@mekogas.com.vn</span><br />
Bảo h&agrave;nh: 0918 323 535 (Anh Vũ)</p>

<p>&nbsp;</p>
                </div>
                                <div class="col-md-4 ">
                    <p>
                        <span><b>HÀ NỘI: CHI NHÁNH - SHOWROOM - TRUNG TÂM BẢO HÀNH</b></span>

                    <p>
                    <p>Nh&agrave; số 7, L&ocirc; 3B, Đường 11, Khu đ&ocirc; thị mới Trung Y&ecirc;n, Phường Trung H&ograve;a, Quận Cầu Giấy<br />
Tel : (84-4) 3200 9369&nbsp;<br />
Fax: (84-4) 3200 9169<br />
Email:&nbsp;<span style="color:#DDA0DD">mekonghn@mekogas.com.vn</span></p>
                </div>
                                <div class="col-md-4 ">
                    <p>
                        <span><b>CẦN THƠ: SHOWROOM - TRUNG TÂM BẢO HÀNH</b></span>

                    <p>
                    <p>Địa chỉ: 157 L&yacute; Tự Trọng, P. An Ph&uacute;, Q. Ninh Kiều<br />
Tel: (84-710) 3764 441 - 098 388 0086<br />
Fax: (84-710) 3764 441<br />
Bảo h&agrave;nh: 0939 167 590 (Anh Phương)</p>
                </div>
                                <div class="col-md-4 ">
                    <p>
                        <span><b>ĐÀ NẴNG: SHOWROOM - TRUNG TÂM BẢO HÀNH</b></span>

                    <p>
                    <p>Địa chỉ: 281 Hải Ph&ograve;ng, P.T&acirc;n Ch&iacute;nh, Q. Thanh Kh&ecirc;<br />
Tel : (84-511) 628 2423<br />
Bảo h&agrave;nh: 01225 456 936 (Ch&uacute; Dũng)</p>
                </div>
                            </div>
        </div>
        <div class="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6" style="font-size: 12px;">
                        &copy; 2016 <a title="Mekong Group" href="#" target="_blank">Mekong Group</a>. All Rights Reserved.
                                             <span style="margin-left: 40px; padding-right: 5px; border-right: 1px solid rgb(173, 173, 173);">
                          Đang online:1</span>

              <span style="padding-left: 7px;">Tổng truy cập: 633</span></div>
                    
                        <div class="col-md-6">

                        <ul class="pull-right">
                                                    <li><a href="http://www.facebook.com/mekogas/" target="_blank"><img src='http://bepgas.animexviet.com/uploads/images/index.php?w=29&h=29&img=icon-fb.png' title='Icon facebook'/></a></li>
                            
                                                        <li><a href="" target="_blank"><img src='http://bepgas.animexviet.com/uploads/images/index.php?w=29&h=29&img=icon-rss.png' title='twite'/></a></li>
                            
                                                        <li><a href="" target="_blank"><img src='http://bepgas.animexviet.com/uploads/images/index.php?w=29&h=29&img=icon-like.png' title='twite'/></a></li>
                            
                                                        <li><a href="" target="_blank"><img src='http://bepgas.animexviet.com/uploads/images/index.php?w=29&h=29&img=icon-g.png' title='twite'/></a></li>
                            
                                                        <li><a href="" target="_blank"><img src='http://bepgas.animexviet.com/uploads/images/index.php?w=29&h=29&img=icon-pinterest.png' title='twite'/></a></li>
                            
                            
                      
                        </ul>
                        </div>
                    </div>
                <div class="pull-right">
                    <a href="#home" class="scrollup" style="display: block;">
                        <img src="http://bepgas.animexviet.com/public/default/css/img/top.png" />
                    </a>
                </div>
            </div>
        </div>
    </footer>  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://bepgas.animexviet.com/public/default/js/jquery-2.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://bepgas.animexviet.com/public/default/js/bootstrap.min.js"></script>
    <!--<script src="js/wow.min.js"></script>-->
    <script src="http://bepgas.animexviet.com/public/default/js/fancybox/jquery.fancybox.pack.js"></script>
    <script src="http://bepgas.animexviet.com/public/default/js/jquery.easing.1.3.js"></script>
    <script src="http://bepgas.animexviet.com/public/default/js/jquery.bxslider.min.js"></script>
    <script src="http://bepgas.animexviet.com/public/default/js/jquery.prettyPhoto.js"></script>
    <script src="http://bepgas.animexviet.com/public/default/js/jquery.isotope.min.js"></script>
    <script src="http://bepgas.animexviet.com/public/default/js/functions.js"></script>
    <script src="http://bepgas.animexviet.com/public/admincp/js/slimScroll/jquery.slimscroll.min.js"></script>
    <script>

        $(document).on('show', '.accordion', function (e) {
            //$('.accordion-heading i').toggleClass(' ');
            $(e.target).prev('.accordion-heading').addClass('accordion-opened');
        });

        $(document).on('hide', '.accordion', function (e) {
            $(this).find('.accordion-heading').not($(e.target)).removeClass('accordion-opened');
            //$('.accordion-heading i').toggleClass('fa-chevron-right fa-chevron-down');
        });
         // Stop carousel
        $('.carousel').carousel({
            interval: false
        });
            $('#thumbcarousel').carousel(0);
            var $thumbItems = $('#thumbcarousel .item');
            $('#carousel').on('slide.bs.carousel', function (event) {
                var $slide = $(event.relatedTarget);
                var thumbIndex = $slide.data('thumb');
                var curThumbIndex = $thumbItems.index($thumbItems.filter('.active').get(0));
                if (curThumbIndex > thumbIndex) {
                    $('#thumbcarousel').one('slid.bs.carousel', function (event) {
                        $('#thumbcarousel').carousel(thumbIndex);
                    });
                    if (curThumbIndex === ($thumbItems.length - 1)) {
                        $('#thumbcarousel').carousel('next');
                    } else {
                        $('#thumbcarousel').carousel(numThumbItems - 1);
                    }
                } else {
                    $('#thumbcarousel').carousel(thumbIndex);
                }
            });
        })(jQuery);
    </script>
     <script type="text/javascript">
    $(".accordion-group .active").parent().addClass("active-select");

    </script>
    <script type="text/javascript">
  
  jQuery(document).ready(function($) {
     $('div.abc').slimScroll({
        height: '100px',
        width : '350px',
    position: 'left',
    color: '#ffcc00',
    alwaysVisible: true,
    distance: '20px',
    railVisible: true,
    railColor: '#222',
    railOpacity: 0.3,
    wheelStep: 10,
    allowPageScroll: false,
    disableFadeOut: false
    });
  
});
</script>
<script src="http://bepgas.animexviet.com/public/default/js/ProductSider/js/zoomsl-3.0.min.js"></script>
    <script src="http://bepgas.animexviet.com/public/default/js/ProductSider/js/jquery.fancybox.pack.js"></script>
    <script defer src="http://bepgas.animexviet.com/public/default/js/ProductSider/js/flexslider.min.js"></script>
    <script src="http://bepgas.animexviet.com/public/default/js/ProductSider/js/zoomsl-3.0.min.js"></script>
    <script src="http://bepgas.animexviet.com/public/default/js/ProductSider/js/main-script.js"></script>
<script src="http://animexviet.com/bepgas/public/default/js/classie.js"></script>
		<script src="http://animexviet.com/bepgas/public/default/js/uisearch.js"></script>
		<script>
			new UISearch( document.getElementById( 'sb-search' ) );
		</script>
		<script>

        $(".search_index").click(function () {
            $('.content_search').toggle('show');
        });
    </script>
</html>